<!DOCTYPE html>
<html>
  <head>
    <title>QuizApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "header">
      <div class = "header__title">
        <%= link_to "Quiz App", root_path, class: "header__title__text" %>
      </div>
      <div class = "header__right">
        <%= link_to "クイズ作成", new_post_path, class: "header__right__btn" %>
        <%= link_to "マイページ", '#', class: "header__right__btn" %>
        <%= link_to "ログアウト", '#', class: "header__right__btn" %>
      </div>
    </header>
    <div class = "contents">
      <%= yield %>
    </div>
  </body>
</html>
